<!--

    Framework Runner

    Copyright (C) 1999-2014 Photon Infotech Inc.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<assembly xmlns="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.0" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.0 http://maven.apache.org/xsd/assembly-1.1.0.xsd">
	
	<baseDirectory>/</baseDirectory> 
	<formats>
		<format>zip</format>
	</formats>

	<fileSets>
    
            <!-- copying service.properties -->
            
            <fileSet>
                <directory>${project.basedir}/settings/service</directory>
                <outputDirectory>/phresco-framework/conf/</outputDirectory>
                <filtered>true</filtered>
            </fileSet>
            
            <!-- copying maven settings.xml -->
           
           <fileSet>
                <directory>${project.basedir}/settings/maven</directory>
                <outputDirectory>/phresco-framework/tools/maven-3.2.1/conf</outputDirectory>
                <filtered>true</filtered>
            </fileSet>
	
		<!-- filter to copy the contents from the base directory -->
		<fileSet>
			<directory>${basedir}/delivery</directory>
			<outputDirectory>/phresco-framework/</outputDirectory>
			<includes>
			    <include>bin/*.bat</include>
			    <include>bin/*.xml</include>
			    <include>bin/*.properties</include>
			    <include>bin/*.txt</include>
				<include>docs/*.docx</include>
				<include>docs/*.pdf</include>
			    <include>conf/**</include>
			    <include>README.txt</include>
			    <include>workspace/tools/jenkins/**</include>
			    <include>workspace/tools/jenkins/*.xml</include>
				<include>workspace/tools/jenkins/*.hpi</include>
				<include>workspace/tools/jenkins/*.key</include>
				<include>workspace/tools/sonar/**</include>
				<include>workspace/tools/sonar/*.xml</include>
				<include>workspace/tools/sonar/*.bat</include>
				<include>workspace/tools/sonar/*.sh</include>
			</includes>
		</fileSet>
		
		<!-- filter to copy the contents from the base directory -->
		<fileSet>
			<directory>${basedir}/delivery</directory>
			<outputDirectory>/phresco-framework/</outputDirectory>
			<includes>
			    <include>bin/*.sh</include>
			</includes>
			<fileMode>0777</fileMode>
		</fileSet>		
		
		<fileSet>
			<directory>${basedir}/delivery/tools/maven-3.2.1</directory>
			<outputDirectory>/phresco-framework/tools/maven-3.2.1</outputDirectory>
			<fileMode>0777</fileMode>
		</fileSet>
	</fileSets>

</assembly>
