#
#Tue Sep 02 15:51:59 IST 2014
phresco.ci.bamboo.password=YWRtaW4\=
phresco.code.sonar.reports.path=/dashboard/index/
phresco.ci.jenkins.url=http\://localhost\:3579/ci/
phresco.framework.cache.enabled=false
phresco.ci.bamboo.username=dummy_admin
phresco.project.code=PHR_
phresco.code.sonar.url=http\://localhost\:9000/sonar
phresco.ci.bamboo.url=http\://localhost\:8085
phresco.support.mailIds=balasubramanian.mahadevan@photoninfotech.net,bharatkumar.radha@photoninfotech.net,dinesh.kumar@photoninfotech.net,jebastin.prabaharan@photoninfotech.net,karthik.shanmugasundaram@photoninfotech.net,lakshmi.narayanan@photoninfotech.net,mahesh.prathapaneni@photoninfotech.net,raghavender.goud@photoninfotech.net,uma.jayanthi@photoninfotech.net,sathishkumar.dhanapal@photoninfotech.net,sakthi.radhika@photoninfotech.net,saravanakumar.sahadevan@photoninfotech.net,senthilkumar.s@photoninfotech.net,suresh.dhanagopal@photoninfotech.net,syed.ahamed@photoninfotech.net
phresco.ci.jenkins.build.count=5
